<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>A simple example to illustrate the integration of the <a href="https://github.com/cspanring/ember-cli-auth0-lock">Ember CLI Auth0 Lock</a> Addon.</p>
</div>
